<h2>Add Wine</h2>
<div>
  <label>Date</label>
  <input type="text" name="date" id="date" #date>
  <br/>
  <label>Vehicle</label>
  <input type="text" name="vehicle" id="vehicle" #vehicle>
  <br/>
  <label>Odometer</label>
  <input type="number" name="odd" id="odd" #odd>
  <br/>
  <label>Gas</label>
  <input type="number" name="gas" id="gas" #gas>
  <br/>
  <label>Cost</label>
  <input type="number" name="cost" id="cost" #cost>
</div>
<div>
  <button mat-button (click)="submit()">Submit</button>
</div>

