<div class="card-container">
  <div class="h1">
    <span class="card-span"><a href="/wineTasting/wine/{{wineDisplay.id}}">{{wineDisplay.name}}</a></span>
    <span class="card-span">{{wineDisplay.style}}</span>
    <div>
      <span *ngFor="let friend of wineDisplay.wineFriend">{{friend}}</span> &nbsp;
    </div>
  </div>
  <div *ngIf="wineRatings" class="ratings-container-grid">
    <span>{{yourRatings}} rating(s) by you</span>
    <span matTooltip="{{displayTooltip()}}" matTooltipClass="custom-tooltip">
      {{totalRatings}} total rating(s)
      <img *ngIf="yourRatings !== totalRatings" src="assets/icons/info.svg" alt="info for item" class="info-svg"
           #infosvg/>
    </span>
  </div>
</div>
