.card-container {
  display: flex;
}

.ratings-container-grid {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: center;
  gap: .5em;
}

.h1 {
  border-bottom: 1px solid gray;
}

.card-span {
  display: flex;
}

.info-svg {
  height: 17px;
  width: 17px;
  margin-bottom: -4px;
}

.custom-tooltip {
  white-space: pre-line;
}
