.hide-container {
  visibility: hidden;
}

.thumbnail {
  height: 100px;
  width: 100px;
}

textarea {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
}

.copy2clipboard {
  height: 15px;
  width: 15px;
}
