<form (submit)='submit($event)' >
  <label class="lbl" for="search">Seach by Tag</label><input type="text" name="search" id="search" #search>
  <button type="button" value="Submit" (click)="submit($event)"></button>
</form>

<div [ngClass]="{'hide-container': hidden}">
  <div *ngFor="let meme of memeResponse">
    <a href='{{meme.url}}'>
<!--      todo: webm-->
      <img *ngIf="isPicture(meme)" class="thumbnail" src='{{meme.url}}' />
      <video *ngIf="idVideo(meme)" class="thumbnail" autoplay loop muted>
        <source src="{{meme.url}}"/>
      </video>
    </a>
    <a (click)="copyToClipboard(meme.url)">
      <img class="copy2clipboard" src='assets/icons/copy.png' />
    </a>
  </div>
</div>
