<h3>Grocery List</h3>
<ng-container *ngIf="hasLoaded">
  <!--  <ng-container *ngIf="groupedGroceryList[DepartmentType.NON_FOODS] as items">-->
  <!--    <div>-->
  <!--      <p>{{ departments[DepartmentType.NON_FOODS] }}</p>-->
  <!--      <ul *ngFor="let item of items">-->
  <!--        <li>{{ item.quantity }} {{ item.item }}</li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </ng-container>-->
  <app-department-row [groupedGroceryList]="groupedGroceryList"
                      [rowName]="'NON_FOODS'"></app-department-row>
  <br />
  <app-department-row [groupedGroceryList]="groupedGroceryList"
                      [rowName]="'DAIRY'"></app-department-row>
</ng-container>
