<mat-toolbar color="primary">
  <button *ngIf="!isTopLevel" mat-icon-button (click)="goBack()">Back</button>
  <h1>Wine Tasting App</h1>
</mat-toolbar>

<div class="header-container">
  <div>
    <span><a href="/portal">Portal</a></span>
    <span>&nbsp; > <a href="/wineTasting">Wineries</a></span>
    <span *ngIf="wineryId">&nbsp; > <a href="/wineTasting/winery/{{wineryId}}">{{wineryName}}</a></span>
    <span *ngIf="wineId">&nbsp; > <a href="/wineTasting/wine/{{wineId}}">{{wineName}}</a></span>
  </div>
</div>
