<div class="card-container">
  <div class="v1">
    <span class="card-span"><a href ="/wineTasting/wine/{{wineDisplay.id}}">{{wineDisplay.name}}</a></span>
    <span class="card-span">{{wineDisplay.style}}</span>
    <div>
      <span *ngFor="let friend of wineDisplay.wineFriend">{{friend}}</span> &nbsp;
    </div>
  </div>
  <div *ngIf="wineRatings" class="ratings-container">
    <span>{{yourRatings}} rating(s) by you</span>
    <span matTooltip="{{displayTooltip()}}" matTooltipClass="custom-tooltip">{{totalRatings}} total rating(s) <img *ngIf="totalRatings > 0" src="assets/icons/info.svg" alt="info for item" class="info-svg" /></span>
  </div>
</div>
