@import "src/styles/variables";

.heading {

}

@media screen and (max-width: $phone-width) {
  .heading {
    font-size: 8vw;
    margin-top: 2vw;
    margin-bottom: 11vw;
    margin-left: 1vw;
  }
}
