<app-wine-header></app-wine-header>

<div class="loading-container" [ngClass]="{'is-loading': isLoading, 'hide-container': !isLoading}">
  <img src="assets/icons/loading.gif" alt="loading">
</div>

<div class="wine-container" [ngClass]="{'hide-container': hidden}">
  <span *ngIf="isWineryResponseLoaded">{{wineryResponse.name}} ({{wineryResponse.location}})</span>

</div>

<div *ngIf="isUsersResponseLoaded" class="filter">
  <mat-select [formControl]="usersFormControl" (openedChange)="onOpenedChanged($event)" multiple>
    <mat-option *ngFor="let user of usersResponse" [value]="user">{{user}}</mat-option>
  </mat-select>
</div>
<div>
  <button mat-raised-button (click)="openDialog()">Add Wine</button>
</div>

<div>
  <h1 class="banner">Wines tasted</h1>
  <div *ngIf="winesTasted.length === 0">
    <span>You do not have any tasted wines</span>
  </div>
  <div class="card" *ngFor="let wine of winesTasted">
    <div class="v1">
      <span class="card-span"><a href ="/wineTasting/wine/{{wine.id}}">{{wine.name}}</a></span>
      <span class="card-span">{{wine.style}}</span>
      <div>
        <span *ngFor="let friend of wine.wineFriend">{{friend}}</span> &nbsp;
      </div>
    </div>
    <div *ngIf="wineRatings" class="ratings-container">
      <span>{{getYourRatings(wine)}} rating(s) by you</span>
      <span>{{getTotalRatings(wine)}} total rating(s)</span>
    </div>
  </div>
</div>

<div>
  <h1 class="banner">Wines Untasted</h1>
  <div *ngIf="winesUntasted.length === 0">
    <span>You do not have any untasted wines</span>
  </div>
  <div class="card" *ngFor="let wine of winesUntasted">
    <div class="v1">
      <span class="card-span"><a href ="/wineTasting/wine/{{wine.id}}">{{wine.name}}</a></span>
      <span class="card-span">{{wine.style}}</span>
      <div>
        <span *ngFor="let friend of wine.wineFriend">{{friend}}</span> &nbsp;
      </div>
    </div>
    <div *ngIf="wineRatings" class="ratings-container">
      <span>{{getYourRatings(wine)}} rating(s) by you</span>
      <span>{{getTotalRatings(wine)}} total rating(s)</span>
    </div>
  </div>
</div>
