.hide-container {
  visibility: hidden;
}

.wine-container {
  display: inline-block;
}

.filter {
  vertical-align: top;
  margin: 30px 20px 10px 50px;
  display: inline-block;
  width: 100px;
}

.is-loading {
  z-index: 10000;
  padding: 300px;
}

.card {
  display: block;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 16px;
  height: 2em;
}
