<div>
  <ng-container *ngIf="ratings | async">
    <div class="rating">
      <app-rating-icon [rating]="myRating?.rating || 0" size="40"></app-rating-icon>
      <button *ngIf="!myRating" mat-mini-fab color="primary" (click)="addRating()">+</button>
    </div>
    <div class="averageRating">
      <label>Avg. Rating</label>
      <app-rating-icon [rating]="averageRating"></app-rating-icon>
    </div>
  </ng-container>

  Wine Notes:
  <div *ngIf="!isEditingNotes">
    <ul>
      <li *ngFor="let note of wineNoteResponse?.wineNotes">{{note.note}}</li>
    </ul>
    <div class="button-wrapper">
      <button (click)="editNotes()">Add Notes</button>
    </div>
  </div>
  <div *ngIf="isEditingNotes">
    <ng-container *ngFor="let note of wineNoteResponse?.wineNotes">
      <input class="input-add-wine-notes" value="{{note.note}}"
             [id]="note.id"
             #inptWineNotes>
    </ng-container>
    <ng-container *ngFor="let note of addWineNotes">
      <input class="input-add-wine-notes" value="{{note}}"/>
    </ng-container>
    <form (submit)='addNote()'>
      <input type="text" name="wineNote" id="wineNote" autofocus #wineNote>
      <button (click)="addNote()">Add</button>
    </form>
    <button (click)="onCancel()">Cancel</button>
    <button (click)="onSubmit()">Submit</button>
  </div>
</div>