<div [ngClass]="{'hide-container': !(isWineAvailable && isWineNoteAvailable && isWineRatingAvailable)}">
  <span *ngIf="isWineAvailable">Wine: {{wineResponse.name}}</span>
  <br/>
  <span *ngIf="isWineRatingAvailable">Wine Rating: {{wineRatingResponse.rating}}</span>
  <button (click)="addRating()"
          [disabled]="!isWineRatingBtnEnabled"
          mat-raised-button
          matTooltip="Update is not available at this time"
          [matTooltipDisabled]="isEditingBtnEnabled">Add Rating</button>
  <br/>
  Wine Notes:
  <div *ngIf="!isEditingNotes">
    <ul>
      <li *ngFor="let note of wineNoteResponse">{{note.note}}</li>
    </ul>
    <button (click)="editNotes()"
            [disabled]="!isEditingBtnEnabled"
            matTooltip="Update is not available at this time"
            [matTooltipDisabled]="!isEditingBtnEnabled">Edit Notes</button>
  </div>
  <div *ngIf="isEditingNotes">
    <span *ngFor="let note of addWineNotes" class="spn-add-wine-notes">{{note}}</span>
    <br />
    <input type="text" name="wineNote" id="wineNote" #wineNote>
    <button (click)="addNote()">Add</button>
    <br />
    <button (click)="onCancel()">Cancel</button>
    <button (click)="onSubmit()">Submit</button>
  </div>
</div>
