.hide-container {
  visibility: hidden;
}

.spn-add-wine-notes {
  width: 100%;
  display: inline-block;
}

.button-wrapper {
  display: inline-block;
}

.is-loading {
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 200px;
}

.loading-container {
  position: fixed;
}

.btn-rating-edit {
  background: url('../../assets/icons/edit.png') no-repeat;
  background-size: 24px;
  border: none;
}
