.sub-option {
  margin-right: 1rem;
}

.dynamic-icon {
  height: 25px;
  width: 25px;
}

image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  /* Ensures the image inside is centered if the button is larger */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button:hover img {
  opacity: 0.8; /* Optional: add hover effect */
}
