<form [formGroup]="formGroup">
  <div class="main-option">
    <label>
      <input type="checkbox" [formControl]="formGroup.controls.mainCheckbox">
      {{ formGroup.controls.name.value }}
    </label>
    <ng-container *ngIf="formGroup.controls.orderingOptions.controls.staticOptions.controls.length > 0">
      <div class="sub-option" [ngClass]="{'sub-option__disabled': imDisabled}"
           *ngFor="let subOption of formGroup.controls.orderingOptions.controls.staticOptions.controls">
        <label>
          <input type="checkbox" [formControl]="subOption.controls.value">
          {{ subOption.controls.name.value }}
        </label>
      </div>
    </ng-container>
    <ng-container
      *ngFor="let dynamicOptions of formGroup.controls.orderingOptions.controls.dynamicOptions.controls; let index = index">
      <div class="sub-option" [ngClass]="{'sub-option__disabled': imDisabled}">
        <input type="text" [formControl]="dynamicOptions" class="dynamic-text" />
        <button type="button" [disabled]="imDisabled" class="image-button" (click)="removeDynamicOptionRow(index)">
          <img src="assets/icons/minus-16.png" alt="remove this dynamic option row" class="dynamic-icon"
               [ngClass]="{'dynamic-icon__disabled': imDisabled}" />
        </button>
      </div>
    </ng-container>
    <div class="sub-option" [ngClass]="{'sub-option__disabled': imDisabled}">
      <button type="button" [disabled]="imDisabled" class="image-button" (click)="addDynamicOptionRow()">
        <img src="assets/icons/plus-25.png" alt="Add dynamic option row" class="dynamic-icon"
             [ngClass]="{'dynamic-icon__disabled': imDisabled}" />
      </button>
    </div>
  </div>
</form>
