@import "src/styles/variables";

.main-option {
  margin-left: .5rem;
  margin-bottom: 1rem;
}

.sub-option {
  margin-left: 1.5rem;
  display: flex;
}

.sub-option__disabled {
  opacity: 0.3;
}

.dynamic-text {
  margin-right: .5rem;
}

.dynamic-icon {
  height: 12px;
  width: 12px;
}

.dynamic-icon__disabled {
  filter: grayscale(1);
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  /* Ensures the image inside is centered if the button is larger */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button:hover img {
  opacity: 0.8; /* Optional: add hover effect */
}

@media screen and (max-width: $phone-width) {
  .main-option {
    font-size: calc(1rem + 2vw);
    //  space vertically between labels
  }

  .dynamic-icon {
    height: 8vw;
    width: 8vw;
  }

  input[type="checkbox"] {
    height: 4vw;
    width: 4vw;
  }

  input[type="text"] {
    margin-bottom: 2vw;
  }
}
