name: Angular CI Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache node modules
        uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'npm'
      - name: npm install and npm run CI commands
        run: |
          npm i
          npm run build:prod
      - uses: actions/upload-artifact@v4
        with:
          path: dist/lordgasmic-webapp
          retention-days: 14

